<html>
    <head>
        <title>aboutus</title>
        <link rel="stylesheet" href="css\link.css">
    </head>
   <body style="margin-left: 30px;
   margin-right: 30px;
   margin-top: 30px;">
    <div class="row center-block">
        <div >
        <h1 class="h1 ">Our Mission</h1>
        <h4 class="h4">Opiherbs is on a mission to make quality healthcare affordable and accessible for over a billion+ Indians. We believe in empowering our users with the most accurate, comprehensive, and curated information and care, enabling them to make better healthcare decisions.</h4>
        </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row center-block">
        <div >
        <h1 class="h1">Health is a habit</h1>
        <h4 class="h4">It is the journey that takes you to new destinations every day with endless possibilities of life on the back of happiness, energy, and hope. Opiherbs wants to make this journey easy for every Indian and help them live healthier and longer lives.</h4>
        </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="col-xs-12">
        <div class="row">
        <h1 class="h1">Our offerings</h1>
        <div class="image-container col-xs-12 col-sm-6 cushion-left">
        <p><span>Comprehensive medical directory</span>&nbsp;with detailed, verified information about more than a lakh doctor partners across the country</span></p>
        <p><span ><span>Online appointment booking&nbsp;</span>at over 9,000 leading hospitals and clinics with doctors who use&nbsp;<span>Opiherbs Prime</span></span></p>
        <p><span><span>Online consultation</span>&nbsp;with trusted doctors across 20+ specialities</span></p>
        <p><span><span>Plus, subscription-based health plans</span>, that provide unlimited online consultations* with doctors 24*7*365<br /><em>*Fair usage policy applicable</em></span></p>
        </div>
        <div>
        <p ><span>Ray</span>, Opiherbs&rsquo;s award-winning practice management software, which is used by 10,000+ clinics</span></p>
        <p ><span>Insta</span>, a full-stack HIMS solution, which is trusted by 500+ clients across 1,200+ facilities</span></p>
        <p ><span ><span>Diagnostic Tests through Opiherbs Associate Labs</span>&nbsp;to get samples collected from the comfort and safety of one&rsquo;s home</span></p>
        <p ><span ><span>Medicine delivery</span>&nbsp;by a network of verified pharmacies across the country</span></p>
        </div>
        </div>
        </div>
        <div >&nbsp;</div>
       
        </div>
        </div>
        <div >
        <div >
        <h1 >Each time a patient finds the right doctor, we build a healthier nation</h1>
        <div>
        <div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div >
        <div >
        <h1 >Our approach to healthcare</h1>
        <h4 >Providing high-quality, trusted, and accessible healthcare is our reason for being</h4>
        </div>
        </div>
        <div >
        <div >
        <div>
        <div ><img title="Connect" src="https://www.practo.com/providers/static/images/pages/company/about/connect.svg" alt="Connect" height="100px" />
        <h1 >Connect</h1>
        <p >We understand healthcare goes beyond signs, symptoms, diagnosis, and treatment. It&rsquo;s about the deep connection between doctors and patients that leads to continuous care and sustained, better outcomes.</p>
        </div>
        <div ><img title="Trust" src="https://www.practo.com/providers/static/images/pages/company/about/trust.svg" alt="Trust" height="100px" />
        <h1 >Trust</h1>
        <p >Opiherbs works on trust. We are aware of the responsibility placed on us by 30 crore+ patients and over a lakh doctors. We always have and always will do everything we possibly can to uphold this trust.</p>
        </div>
        <div ><img title="Transparency" src="https://www.practo.com/providers/static/images/pages/company/about/transparency.svg" alt="Transparency" height="100px" />
        <h1>Transparency</h1>
        <p >We believe in full disclosure. We believe in communicating openly and honestly, and holding ourselves to the highest ethical standards.</p>
        </div>
        </div>
        </div>
        </div>
        <div >&nbsp;</div>
        <div >
        <div >
        <h2 >Data privacy and security is our top priority</h2>
        <div >&nbsp;</div>
        <div >&nbsp;</div>
        <div >Data privacy and security has always served as one of the founding philosophies of Opiherbs, and we go to great lengths to safeguard the confidentiality and integrity of our users.&nbsp;</div>
        <div>&nbsp;</div>
        </div>
        <div ><img class=" " title="Security" src="https://www.Practo.com/providers/static/images/pages/company/about/security.png" alt="Security" /></div>
        </div>
        <div >&nbsp;</div>
        <div >
        <div >
        <div >
        <div >
        <div >
        <div >
        <div>We must remember that the healthcare industry&rsquo;s primary goal, in any part of the world, is to provide quality healthcare to all those who need it. Many times, it does not happen due to information asymmetry, affordability issues and barriers to access. While all those challenges may be difficult to address in a country like ours, some parts of the problem can definitely be addressed by the digitalization of healthcare. Opiherbs is spearheading India&rsquo;s healthcare agenda in that sense by leveraging an integral part of today&rsquo;s routine - the online booking which has helped healthcare reach the last mile through technology. The benefits of digitalization are visible across all areas of healthcare and Fortis itself has made strides in this direction even though we are not a technology company. That&rsquo;s because our aim has always been to provide quicker and better healthcare services to our patients and increased use of technology to connect with our patients is helping us do that more efficiently.</div>
        
        </div>
        <div>
        <div >
        <div >We have been associated with Opiherbs for over 8 years, and it has been incredible to solve industry challenges with a company that so passionately and thoroughly has approached digitzation in healthcare. Opiherbs products, such as Prime, not only make the best of technology to streamline our operations, but also provide the patients with the right tool to connect with countless healthcare providers and choose an exceptional patient experience.</div>

        </div>
        <div>
        <div >
        <div >We must remember that the healthcare industry&rsquo;s primary goal, in any part of the world, is to provide quality healthcare to all those who need it. Many times, it does not happen due to information asymmetry, affordability issues and barriers to access. While all those challenges may be difficult to address in a country like ours, some parts of the problem can definitely be addressed by the digitalization of healthcare. Opiherbs is spearheading India&rsquo;s healthcare agenda in that sense by leveraging an integral part of today&rsquo;s routine - the online booking which has helped healthcare reach the last mile through technology. The benefits of digitalization are visible across all areas of healthcare and Fortis itself has made strides in this direction even though we are not a technology company. That&rsquo;s because our aim has always been to provide quicker and better healthcare services to our patients and increased use of technology to connect with our patients is helping us do that more efficiently.</div>
        
        </div>
        <div >
        <div >
        <div >We have been associated with Opiherbs for over 8 years, and it has been incredible to solve industry challenges with a company that so passionately and thoroughly has approached digitzation in healthcare. Opiherbs products, such as Prime, not only make the best of technology to streamline our operations, but also provide the patients with the right tool to connect with countless healthcare providers and choose an exceptional patient experience.</div>
    
        </div>
        <div >
        <div >
        <div >We must remember that the healthcare industry&rsquo;s primary goal, in any part of the world, is to provide quality healthcare to all those who need it. Many times, it does not happen due to information asymmetry, affordability issues and barriers to access. While all those challenges may be difficult to address in a country like ours, some parts of the problem can definitely be addressed by the digitalization of healthcare. Opiherbs is spearheading India&rsquo;s healthcare agenda in that sense by leveraging an integral part of today&rsquo;s routine - the online booking which has helped healthcare reach the last mile through technology. The benefits of digitalization are visible across all areas of healthcare and Fortis itself has made strides in this direction even though we are not a technology company. That&rsquo;s because our aim has always been to provide quicker and better healthcare services to our patients and increased use of technology to connect with our patients is helping us do that more efficiently.</div>
        
        </div>
        <div >
        <div >
        <div >We have been associated with Opiherbs for over 8 years, and it has been incredible to solve industry challenges with a company that so passionately and thoroughly has approached digitzation in healthcare. Opiherbs products, such as Prime, not only make the best of technology to streamline our operations, but also provide the patients with the right tool to connect with countless healthcare providers and choose an exceptional patient experience.</div>
        
        </div>
        </div>
        </div>
        <div >&nbsp;</div>
        <div >&nbsp;</div>
        </div>
        </div>
        </div>
        <div >&nbsp;</div>
        <div >&nbsp;</div>
        <div >
        <h2 >Our investors share our vision</h2>
        <div >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>
        <div >
        <div >
        <div >"Opiherbs is revolutionizing healthcare by enabling consumers to find the best doctors, book instant appointments, consultations, and make better, motre informed health decisions. It is our privilege to work with Opiherbs, to scale and bring Opiherbs to billions of consumers around the globe."<br /><br /><span></span></div>
        </div>
        </div>


        <footer>
            <div class="footer">
        
                <div>
                    <h4>Know us</h4>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Partnership</a></li>
        
                </div>
                <div>
                    <h4>Our Policies</h4>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Grievance Redressal</a></li>
                    <li><a href="">Fake jobs and Frauds</a></li>
                </div>
                <div>
                    <h4>Our Services</h4>
                    <li><a href="">Order Medicines</a></li>
                    <li><a href="">Consult a Doctor</a></li>
                    <li><a href="">Articles</a></li>
                </div>
                <div>
                    <h4>Connect with Us</h4>
                    <li>
        
                        <a href="#" class="fab fa-facebook-f"> facebook</a>
                    </li>
                    <li>
        
                        <a href="#" class="fab fa-twitter"> twitter</a>
                    </li>
                    <li>
        
                        <a href="#" class="fab fa-instagram"> instagram</a>
                    </li>
        
        
                </div>
        
               

   </body>
   
</html>

