<style>
    .footer li a:hover {
        color: gold;

    }
    .footer li a {


        border-radius: 20px;

    }

    .footer {
        background-color: black;
        color: aliceblue;

        align-items: center;


        color: #FCF8E8;
        display: flex;
        justify-content: space-around;

        width: 100%;
        ;
        flex-wrap: wrap;
        flex-grow: inherit;

    }

    .footer li a {
        color: grey;
    }

    .footer h4 {
        color: white;
    }

    .footer div {
        margin: 10px;
        padding: 20px;

    }
</style>

<footer>
    <div class="footer">

        <div>
            <h4>Know us</h4>
            <li><a href="aboutus">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="">Business</a></li>
            <li><a href="partnership">Partnership</a></li>
            <li><a href="admin_password_validation">Admin</a></li>

        </div>
        <div>
            <h4>Our Policies</h4>
            <li><a href="privacy">Privacy Policy</a></li>
            <li><a href="grievance">Grievance Redressal</a></li>
            <li><a href="fraud">Fake jobs and Frauds</a></li>
        </div>
        <div>
            <h4>Our Services</h4>
            <li><a href="medicines">Order Medicines</a></li>
            <li><a href="doctor_project_final">Consult a Doctor</a></li>
            <li><a href="">Articles</a></li>
        </div>
        <div>
            <h4>Connect with Us</h4>
            <li>

                <a href="#" class="fab fa-facebook-f"> facebook</a>
            </li>
            <li>

                <a href="#" class="fab fa-twitter"> twitter</a>
            </li>
            <li>

                <a href="#" class="fab fa-instagram"> instagram</a>
            </li>


        </div>


    </div>
</footer>