<html>
    <body style="margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;">
        <h1 >Fraud Disclaimer</h1>
<p >It has come to our attention that the name of Opiherbs is being used in attempts to defraud and deceive our customers and the general public through means, such as false correspondence, scams, providing misleading information about offers or non-existent/false products being offered by Opiherbs etc. These can be in the form of spam/anonymous voice calls, email, text message and Whatsapp etc. with the intention of committing fraud and illegally obtaining confidential information and / or money from people or selling fake products. Customers and the public are requested to verify and confirm for themselves the authenticity of communication before engaging or responding.</p>
<p >Here are some ways by which you can protect yourself from fraud:</p>
<ol >
<li ><span >In case you receive any kind of offers, prizes or requests for personal information, purporting to be from Opiherbs, you are advised to make sure it is genuine before responding. We do not charge or accept any amount or security deposit from any participant for any competition, marketing promotion or campaign.</span></li>
<li ><span >Reach out to our customer care at&nbsp;<a href="https://www.Opiherbs.com/support/chat">www.Opiherbs.com/support/chat</a>&nbsp;for any clarifications.</span></li>
<li ><span >Be cautious against providing personal information, sending money or disclosing bank details, credit card number, passwords to any person claiming to represent Opiherbs.</span></li>
<li ><span >Purchase only from our official channels like website&nbsp;<a href="https://www.Opiherbs.com/">Opiherbs.com</a>,&nbsp;<a href="https://bit.ly/3zme6Dg">App</a>, Toll Free number (<a href="tel:10123456789">0123456789</a>) for placing orders,&nbsp;<a href="https://www.Opiherbs.com/information/Opiherbs-Opiherbs-retail-store">retail outlets</a>&nbsp;or authorized Opiherbs Health Partners.</span></li>
</ol>
<p >We shall not accept any liability towards the representation made in any fraudulent communication or its consequences, and such fraudulent communication shall not be treated as any kind of offer or representation by Opiherbs.</p>
<h1 >Fake Job Disclaimer</h1>
<p >Opiherbs does not charge / accept any amount or security deposit from job seekers during the selection process or while inviting candidates for an interview.</p>
<p >Opiherbs is a purely merit based employer. We have observed that some fraudsters are using the name of Opiherbs to solicit job applications and require the job seekers / applicants to pay processing fees or deposit amount, and are issuing fake interview/appointment/offer letters. This type of fraud may be via voice call, email, text message and Whatsapp etc.</p>
<p >Here are some ways by which you can protect yourself against fraud:</p>
<ol >
<li ><span >If you receive any unsolicited or fraudulent communication offering a job or an interview call from Opiherbs against payment of money, it is suggested not to respond. We do not charge / accept any amount or security deposit from job seekers during the selection process or while inviting candidates for an interview. Please report any such matter at&nbsp;<a href="mailto:reportfraud@Opiherbs.com">reportfraud@Opiherbs.com</a>.</span></li>
<li ><span >Visit our&nbsp;<a href="https://Opiherbs.darwinbox.in/ms/candidate/careers">Careers Page</a>&nbsp;and apply directly on the website for any job openings.</span></li>
<li ><span >Check the email id from which you have received the communication. We will only communicate via our official domain. We will not send interview requests or job offers from free internet email services like Gmail, Rediffmail, Yahoo mail, Hotmail, and so on.</span></li>
</ol>
<p >Opiherbs will have no liability whatsoever for any and all losses/damages suffered by anyone who falls victim to such scams from fraudsters.</p>
    </body>
</html>