<html>
    <body style="margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;">
        
    	<hr style=" position: relative;
	top: 20px;
	border: none;
	height: 12px;
	background: black;
	margin-bottom: 50px;">
        <h1> <center>GRIEVANCE REDRESSAL POLICY</center> </h1></li>
        <hr style=" position: relative;
        top: 20px;
        border: none;
        height: 12px;
        background: black;
        margin-bottom: 50px;">
        <span >This grievance redressal policy (the &ldquo;<span data-mce-mark="1">Policy</span>&rdquo;) sets out Opiherbs Healthcare Solutions Private Limited&rsquo;s (the &ldquo;<span data-mce-mark="1">Company</span>&rdquo; or &ldquo;<span data-mce-mark="1">Opiherbs</span>&rdquo; or &ldquo;<span data-mce-mark="1">We</span>&rdquo; or &ldquo;<span data-mce-mark="1">Us</span>&rdquo;) policy towards redressing grievances raised by consumers purchasing goods and services from the Company&rsquo;s website (&ldquo;<span data-mce-mark="1">Consumer</span>&rdquo; or &ldquo;<span data-mce-mark="1">You</span>&rdquo;) from time to time.</span><span>&nbsp;</span>
        <div class="cont-details">
        <h2>Details of the Company</h2>
        The details of the Company responsible for the Website and the contact information are provided below. You may contact Us through the below mentioned contact details and We will be glad to assist You.<ol class="sub-norm">
        <li>Legal Entity Name:&nbsp;Opiherbs Healthcare Solutions Private Limited</li>
        <li>Corporate Office:&nbsp;5th floor, The Presidency Tower &ndash; B, 46/4 Mehrauli Gurgaon Road, Sector 14, Gurgaon &ndash; 122001.</li>
        <li>Registered Office:&nbsp;Level 3, Vasant Square Mall, Pocket V, Sector B, Vasant Kunj New Delhi South Delhi DL 110070.</li>
        <li>Name of the website:&nbsp;<a href="https://www.Opiherbs.com/">www.Opiherbs.com</a>&nbsp;(&ldquo;Website&rdquo;)</li>
        <li>Details of the website:&nbsp;E-Commerce Healthcare Technology Platform&nbsp;</li>
        </ol></div>
        </li>
        
        <div class="cont-details">
        <h2>Purpose of the Policy</h2>
        <ol class="sub-norm">
        <li >&nbsp;The Policy aims to address any Consumer complaints or issues through a well-defined and proper mechanism to ensure maximum consumer satisfaction.</li>
        <li >&nbsp;The Policy functions on attempting to ensure that the Consumers would be treated fairly at all times, and the Company would undertake its best efforts to deal with any Consumer grievance promptly, efficiently and with courtesy.&nbsp;</li>
        </ol></div>
       
        
        <div class="cont-details">
        <h2>Grievance Redressal Mechanism:</h2>
        <ol class="sub-norm">
        <li >&nbsp;At Opiherbs, customer centricity is our top most priority and hence we believe in providing the best experience to all our Consumers. We look forward to any feedback which will help us improve further. You may contact us through our help pages by clicking here&nbsp;<a>https://www.Opiherbs.com/help/</a>&nbsp;that aim at providing solutions to all frequently asked questions and we will be glad to assist you.</li>
        <li >&nbsp;For the purpose of this Policy, &ldquo;grievance&rdquo; or &ldquo;complaint&rdquo; includes any communication from the Consumer that expresses dissatisfaction in respect of the products or services offered through the Website and which seeks a remedial action, but does not include the following:<ol class="sub-norm">
        <li>complaints that are incomplete or not specific in nature;</li>
        <li>communications in the nature of offering suggestions; or</li>
        <li>communications seeking guidance or explanation.</li>
        </ol>
        <li >&nbsp;Opiherbs shall address any complaints and grievances of the Consumers with respect to any goods or services provided over the Website in a time-bound manner. For this purpose, Opiherbs India has designated a grievance officer (&ldquo;Grievance Officer&rdquo;). The Grievance Officer shall be responsible for Consumer grievance redressal in accordance with the grievance redressal mechanism provided in this Policy. You can contact the Grievance Officer through the below mentioned contact details.<ol class="sub-norm">
        <li>Name:&nbsp;Ms Anjali joshna</li>
        <li>Email:&nbsp;grievance-officer@Opiherbs.com</li>
        <li>Phone:&nbsp;0123456789</li>
        </ol></li>
        <li >&nbsp;Once a Consumer files a complaint via email or telephonic communication on the channels specified above, the Consumer will receive an acknowledgment of the grievance from the Grievance Officer, within 48 (forty-eight) hours.</li>
        <li >&nbsp;Each Consumer who has filed a complaint with the Grievance Officer shall receive a unique ID for tracking the status of their complaint.</li>
        <li >&nbsp;The Grievance Officer will undertake best endeavours to redress the grievances of the customer expeditiously but in any case, grievances will be addressed within 1 (one) month from the date of receipt of the grievance.</li>
        <li >&nbsp;A grievance will be considered as disposed-off and closed in any of the following instances, namely:<ol class="sub-norm">
        <li>where the complainant has communicated its acceptance of the response of the Grievance Officer / any other person associated with the Company; or</li>
        <li>where the complainant has not responded within thirty days of the receipt of the written response and has not raised any grievance or complaint in respect of the same subject.</li>
        </ol></li>
        <li >&nbsp;In the unlikely event that your issue remains unresolved to your satisfaction despite escalating to our Grievance Officer, you can reach out to our Nodal Officer (details specified below). We will respond within 7 (seven) business days from the date of receipt of your email.</li>
        <li >&nbsp;The contact numbers displayed above shall be operational on Monday to Saturday from 10:00 AM to 07:00 PM only. You are requested to follow the IVR options.&nbsp;</li>
        </ol></div>
        </li>
        
        <div class="cont-details">
        <h2>Details of the Nodal Officer:</h2>
        In accordance with the Consumer Protection (E-Commerce) Rules, 2020, the Company has appointed a resident nodal person (&ldquo;Nodal Person&rdquo;) who shall be responsible for ensuring compliance with the provisions of the Consumer Protection Act, 2019 and the rules made thereunder. You can contact the Nodal Officer through the below mentioned contact details in case of any escalation of complaints.<ol class="sub-norm">
        <li>Name:&nbsp;Mr. Sanket Mishra</li>
        <li>Email:&nbsp;nodal-officer@Opiherbs.com</li>
        <li>Phone:&nbsp;0987654321&nbsp;</li>
        </ol></div>
        
        
        <div class="cont-details">
        <h2>Information requests</h2>
        Any person may, before the purchase of any goods or services from the Website, request for the following information on the seller from whom the goods or services are proposed to be purchased.<ol class="sub-norm">
        <li>Principal geographic address of headquarters and all branches;</li>
        <li>Name and details of the website;</li>
        <li>E-mail address; and</li>
        <li>Any other information necessary for communication with the seller for effective dispute resolution.</li>
        </ol></div>
        
        </ol>
    </body>
</html> your issue remains unresolved to your satisfaction despite escalating to our Grievance Officer, you can reach out to our Nodal Officer (details specified b