<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="boxicons/css/boxicons.css" >
        <title>Opiherbs | Login </title>
    </head>
    <style>

        *{
            font-family:'Poppins', sans-serif;
        }

        body{
            background-image: url("https://wallpaper.dog/large/10984759.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }

        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90vh;
        }

        .container{
            width: 350px;
            display: flex;
            flex-direction: column;
            padding: 0 15px 0 15px;
        }

        span{
            color: #fff;
            font-size: small;
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0;
        }

        header{
            color: black;
            font-size: 60px;
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0; 
        }

        .input-field{
            display: flex;
            flex-direction: column;
        }

        .input{
            height: 65px;
            /* color: gray; */
            font-size: medium;
            width: 87%;
            border: none;
            outline: none;
            border-radius: 30px;
            border-color: black;
            color: black;
            padding: 0 0 0 45px;
            background: rgba(255, 255, 255, 0.1);
        }

        i{
            position: relative;
            top: -33px;
            left: 17px;
            color: black;
        }

        ::-webkit-input-placeholder{
            color: #fff;
        }

        .submit{
            border: none;
            border-radius: 30px;
            font-size: 20px;
            height: 45px;
            outline: none;
            width: 100%;
            background: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            transition: .3s;
        }

        .submit:hover{
            box-shadow: 1px 5px 7 1px rgba(255, 255, 255, 0.2);
        }

    </style>
    <body>
        <div class="box">
            <div class="container">
                <div class="top-header">
                    <!-- <span>Have an account?</span> -->
                    <header>Login</header>
                </div>

                <form action="/login" method="post">

                    <div class="input-field">
                        <input type="email" class="input" id="email" name="email" placeholder="Email" required>
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" name="password" placeholder="Password" required>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Login">
                    </div>
                </form>

                <!-- <div class="bottom">
                    <div class="left">
                        <input type="checkbox" id="check">
                        <label for="check">Remember Me</label>
                    </div>
                    <div class="right">
                        <label><a href="">Forgot password?</a></label>
                    </div>
                </div> -->
            </div>
        </div>
    </body>
</html>