<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ffsd_projecy_offers2.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
      body{
    background-color: rgb(197, 206, 206);
    margin: .1rem;
    padding: 0;
    box-sizing: border-box;
}
a.Signin{
    
    white-space: nowrap;
    font-size: 1rem;
  }
.offerdiv1{
    display: flex;
   border: 1px solid black;
   font-family:cursive;
}
.offerdiv1 p {
    font-size: large;
  font-weight: bolder;
}
img{
    
}
#offersanchor{
    color:rgb(83, 63, 48);
    font-size: 1.3rem;
}
.percentoffers{
    height: 10rem;
    width: 10rem;
}



.gradient-text{
          font-family: Georgia;
          font-style: italic;
          font-size: 4rem;
          background-color: red;
          background-image: linear-gradient(#4b00fb, #00eaff);
          background-size: 100%;
          background-repeat: repeat;

          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; 
          -moz-background-clip: text;
          -moz-text-fill-color: transparent;
        }

.search-container {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    
        .nav-item:hover .subnav {
              display: block;
        }
        .subnav {
            display: none;
            position: absolute;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #eee;
            z-index: 9;
            width: inherit;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }
        .subnav li a {
            display: block;
            text-decoration: none;
            color: #000;
            padding: 10px;
            margin: 0;
            border-bottom: 1px solid #ddd;
        }
        .subnav li a:hover {
            background-color: #ccc;
        }
    </style>
</head>
<body>

    <nav class="start1nav navbar navbar-expand-lg bg-body-tertiary">
        <div class="  container-fluid">

          <img class="logo" src="images/actualprojectlogo.jpg" alt="no img" height="80px" width="130px">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            
            <div style="text-align: center;width: 100%;"> <header>
              <h1 class="gradient-text"> <div><h1> DISCOUNTS AND OFFERS</h1></div></h1>
            </header></div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="Signin  nav-link active" aria-current="page" href="#">Sign-in</a>
              </li>
              <li class="nav-item">
                <a class="Signin  nav-link active" aria-current="page" href="#">Sign-up</a>
        
            </ul>
          </div>
          
        </div>
       
      </nav>

      <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/project_logo.jpeg" alt="Logo" style="width:100px;">
          </a>
        
          <ul class="navbar-nav">
                    
                    <div style="text-align: center;width: 100%;"> <header>
                      <h1 class="gradient-text">OFFERS</h1>
                    </header></div>
            <li class="nav-item">
              <a class="nav-link" href="login-signup2.html" >Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="doctors.html">Doctors</a>
    
            </li>
            <li class="nav-item">
              <a class="nav-link" href="medicine.html">Medicines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="emergency.html">Emergency</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="first_aid.html">First Aid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="premium.html">Premium</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="offers.html">Offers</a>
            </li>
          </ul>
        </div>
      </nav> -->




    
   

    <div class="offerdiv1" >
        <img src="images/10percentoff.jpg" alt="no img"  class="percentoffers">
        <div><p>Get 10% off on your first medicine order</p><br>
            Offer expiry : 30/4/2023 <br><br>
            <a href="" id="offersanchor">Buy now</a>
        </div>
        
    </div>
    <div class="offerdiv1"><img src="images/5percentoffnew.jpg" alt="no img"  class="percentoffers">
    <div><p>Get 5% off on your allopathy medicine order</p><br>
        Offer expiry : 1/5/2023 <br><br>
        <a href="" id="offersanchor">Buy now</a></div>
    </div>
    <div class="offerdiv1">
        <img src="images/Paytmofficial.png" alt="no img" class="percentoffers" style="background-color: white;">

        <div><p>Use patyam and get cashback upto ₹1000</p><br>
            Offer expiry : 1/5/2023 <br><br>
            <a href=""  id="offersanchor">Use now</a></div>
    </div>
    <div class="offerdiv1">
        <img src="images/cred.png" alt="no img" class="percentoffers">

        <div><p>Get cashback upto 5% on paying vai cred</p><br>
            Offer expiry : 1/5/2023 <br><br>
            <a href="" id="offersanchor">Use now</a></div>
    </div>
    
</body>
</html>