<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ffsd_projecy_offers2.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
      body{
    background-color: rgb(197, 206, 206);
    margin: .1rem;
    padding: 0;
    box-sizing: border-box;
}
a.Signin{
    
    white-space: nowrap;
    font-size: 1rem;
  }
 

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }
  
  .buy-now-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
  
  .buy-now-btn:hover {
    background-color: #0062cc;
  }
  
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.foot1{
  justify-content: space-between;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
    </style>
</head>
<body>

    <nav class="start1nav navbar navbar-expand-lg bg-body-tertiary">
        <div class="  container-fluid">

          <img class="logo" src="actualprojectlogo.jpg" alt="no img" height="80px" width="130px">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="height: 52px; "></span>
          </button>
        
            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            
            <div style="text-align: center;width: 100%;"> <header>
              <h1 class="gradient-text"> <div><h1> DISCOUNTS AND OFFERS</h1></div></h1>
            </header></div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="Signin  nav-link active" aria-current="page" href="#">Sign-in</a>
              </li>
              <li class="nav-item">
                <a class="Signin  nav-link active" aria-current="page" href="#">Sign-up</a>
        
            </ul>
          </div>
          
        </div>
       
      </nav>

      <div class="card-container">
      <% for (let i = 0; i < offers.length; i++) { %>
        <div class="card">
          <img src="<%= offers[i].image %>" alt="<%= offers[i].title %>" style="height: 300px;width: auto; ">
          <div class="card-content">
          <h3><%= offers[i].title %></h3>
          <p style="font-size: larger;font-weight:bold;"><%= offers[i].description %><br>
         </p>
          <a href="#" class="buy-now-btn">Buy now</a>
          </div>
          </div>
          <% } %>
        </div>


      <!-- <div class="card-container">
        <div class="card">
          <img src="10percentoff.jpg" alt="offer-1">
          <div class="card-content">
            <h3>Offer 1</h3>
            <p>Get 10% off on your first medicine order<br>
               Offer expiry : 30/4/2023</p>
            <a href="#" class="buy-now-btn">Buy now</a>
          </div>
        </div>
        
        <div class="card">
          <img src="https://via.placeholder.com/300x200" alt="offer-2">
          <div class="card-content">
            <h3>Offer 2</h3>
            <p>Get 5% off on your allopathy medicine order<br>
               Offer expiry : 1/5/2023</p>
            <a href="#" class="buy-now-btn">Buy now</a>
          </div>
        </div>
        
        <div class="card">
          <img src="https://via.placeholder.com/300x200" alt="offer-3">
          <div class="card-content">
            <h3>Offer 3</h3>
            <p>Use patyam and get cashback upto ₹1000<br>
               Offer expiry : 1/5/2023</p>
            <a href="#" class="buy-now-btn">Buy now</a>
          </div>
        </div>
        
        <div class="card">
          <img src="https://via.placeholder.com/300x200" alt="offer-4">
          <div class="card-content">
            <h3>Offer 4</h3>
            <p>Get cashback upto 5% on paying vai cred<br>
               Offer expiry : 1/5/2023</p>
            <a href="#" class="buy-now-btn">Buy now</a>
          </div>
        </div>
      </div>
       -->




<!--    
      <div class="container">
    <div class="offerdiv1" >
        <img src="10percentoff.jpg" alt="no img"  class="percentoffers">
        <div><p>Get 10% off on your first medicine order</p><br>
            Offer expiry : 30/4/2023 <br><br>
            <a href="" id="offersanchor">Buy now</a>
        </div>
        
    </div>
    <div class="offerdiv1"><img src="images/5percentoffnew.jpg" alt="no img"  class="percentoffers">
    <div><p>Get 5% off on your allopathy medicine order</p><br>
        Offer expiry : 1/5/2023 <br><br>
        <a href="" id="offersanchor">Buy now</a></div>
    </div>
    <div class="offerdiv1">
        <img src="images/Paytmofficial.png" alt="no img" class="percentoffers" style="background-color: white;">

        <div><p>Use patyam and get cashback upto ₹1000</p><br>
            Offer expiry : 1/5/2023 <br><br>
            <a href=""  id="offersanchor">Use now</a></div>
    </div>
    <div class="offerdiv1">
        <img src="images/cred.png" alt="no img" class="percentoffers">

        <div><p>Get cashback upto 5% on paying vai cred</p><br>
            Offer expiry : 1/5/2023 <br><br>
            <a href="" id="offersanchor">Use now</a></div>
    </div>
   
    </div> -->

    <footer class="site-footer">
       
         
        
      <div class="foot1 d-flex">
        <div class="d-inline-block">
            <h6>Know us</h6>
            
             
                <ul class="footer-links">
                <li><a href="./1">About Us</a></li>
                <li><a href="./S20210010127_contact_us.html">Contact Us</a></li>
                <li><a href="">Business</a></li>
                <li><a href="">Partnerships</a></li>
                 <!-- <li><a href="./payments">Payment</a></li>
                <li><a href="./offers">Offers</a></li> -->
              </ul>
            </div>
              

            <div class="d-inline-block"> 
              <h6> Our policies</h6>
                <ul class="footer-links"><li><a href="">Privacy Policy</a>
                </li>
                <li><a href="">Grievance Redressal</a></li>
                <li><a href="">Fake jobs and Frauds</a></li>
               
              </ul>
            </div>

            <div class="d-inline-block"> 
              <h6>Services</h6>
                <ul class="footer-links"><li><a href="">Order Medicines</a>
                </li>
                <li><a href="">Consult a Doctor</a></li>
                <li><a href="">Articles</a></li>
                <li><a href="/payments">payments</a></li>
                
              </ul>
            </div>

            <div class="d-inline-block"> 
              <h6> Social Media</h6>
                <ul class="footer-links"> <li>

                  <a href="#" class="fab fa-facebook-f"> facebook</a>
              </li>
              <li>

                  <a href="#" class="fab fa-twitter"> twitter</a>
              </li>
              <li>

                  <a href="#" class="fab fa-instagram"> instagram</a>
              </li>
                
              </ul>
            </div>

          </div>
            
        <hr>
     
      
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>