<html>
    <body>
        <div class="container">
            <div class="d-flex justify-content-between">
            <div class="flexer">
            	<hr style=" position: relative;
	top: 20px;
	border: none;
	height: 6px;
	background: black;
	margin-bottom: 50px;">
                <center><h1><span>Partnership</span></h1></center>
                <hr style=" position: relative;
                top: 20px;
                border: none;
                height: 6px;
                background: black;
                margin-bottom: 50px;">
            <h2><span> <center>Benefits</center> </span></h2>
           <center> <p>Here's why you should be<br />a Opiherbs partner!</p></center>
            </div>
            <div class="header_image position-relative">&nbsp;</div>
            </div>
            </div>
          <center>  <p><img class="top_rectangle" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_top_rectangle.svg" alt="#" /></p></center>
            <div class="container d-none d-md-flex justify-content-between benefits_content">
            <div class="d-flex align-items-start content_container">
           
            <div>
           <center> <h3>Ease of Doing Business</h3></center>
            <center><p>Opiherbs offers multiple technology solutions to cater to all the needs of our partners from onboarding to order processing and operations</p></center>
            </div>
            </div>
           <center><div class="img_container"><img class="puddle" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_puddle.svg" alt="#" /><img class="desc_img" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_ease.svg" alt="#" /></div>
            </div></center> 
            <div class="container d-none d-md-flex justify-content-between benefits_content">
           <center> <div class="img_container"><img class="puddle" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_puddle.svg" alt="#" /><img class="desc_img" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_reach.svg" alt="#" /></div></center>
            <div class="d-flex align-items-start content_container">
            
            <div>
            <center><h3>Wide Customer Reach</h3></center>
            <center><p>Being India&rsquo;s leading digital consumer healthcare platform, we have over 195 million visitors and delivered over 27 million orders on our platform.</p></center>
            </div>
            </div>
            </div>
            <div class="container d-none d-md-flex justify-content-between benefits_content">
            <div class="d-flex align-items-start content_container">
            
            <div>
           <center> <h3>Business Growth</h3></center>
            <center><p>Multiply the growth of your business with Opiherbs's strong technological uphold, wide customer reach and advertising offerings.</p></center>
            </div>
            </div>
           <center> <div class="img_container"><img class="puddle" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_puddle.svg" alt="#" /><img class="desc_img" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_growth.svg" alt="#" /></div></center>
            </div>
            <div class="container d-none d-md-flex justify-content-between benefits_content">
           <center> <div class="img_container"><img class="puddle" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_puddle.svg" alt="#" /><img class="desc_img" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_transparent.svg" alt="#" /></div></center>
            <div class="d-flex align-items-start content_container">
            
            <div>
            <center><h3>Transparent processes</h3></center>
            <center><p>From onboarding to order fulfillment, we do not charge any hidden cost or additional fees.</p></center>
            </div>
            </div>
            </div>
            <div class="container d-none d-md-flex justify-content-between benefits_content">
            <div class="d-flex align-items-start content_container">
            
            <div>
            <center><h3>Timely Payment</h3></center>
            <center><p>Opiherbs ensures that the payment to any vendor is processed within 7 business days from the day your product is delivered to the customer.</p></center>
            </div>
            </div>
           <center><div class="img_container"><img class="puddle" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_puddle.svg" alt="#" /><img class="desc_img" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_money.svg" alt="#" /></div></center> 
            </div>
            <div class="container d-none d-md-flex justify-content-between benefits_content">
           <center><div class="img_container"><img class="puddle" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_puddle.svg" alt="#" /><img class="desc_img" src="https://partners.1mg.com/accounts/onemg/onemgvpt025/images/partnership_ads.svg" alt="#" /></div></center>
            <div class="d-flex align-items-start content_container">
            
            <div>
            <center><h3>Advertisement</h3></center>
           <center> <p>You can avail multiple advertising solutions which will increase visibility of your products and their sales on our platform. We also have unique capabilities to understand our customers through automated user surveys.</p></center>
            <p>&nbsp;</p>
            </div>
            </div>
            </div>
    </body>
</html>