<html>
    <body style="margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;">
        <hr style=" position: relative;
        top: 20px;
        border: none;
        height: 12px;
        background: black;
        margin-bottom: 50px;">
      <center><h1>PRIVACY POLICY</h1></center>  
        <hr style=" position: relative;
	top: 20px;
	border: none;
	height: 12px;
	background: black;
	margin-bottom: 50px;">
<p>Opiherbs Healthcare Solutions Private Limited ("<span c>Opiherbs</span>" or "<span >we"</span>) takes the privacy of your information seriously. This privacy notice ("<span >Privacy Notice</span>") describes the types of personal information we collect from you through our website (including sub-domains and microsites) and mobile applications. It also describes the purposes for which we collect that personal information, the other parties with whom we may share it and the measures we take to protect the security of your data. It also tells you about your rights and choices with respect to your personal information, and how you can contact us about our privacy practices.</p>
<p >You are advised to carefully read this Privacy Notice before using or availing any of our products and/or services.</p>
<ol  start= "1">
<h3><li > DEFINITIONS</li></h3>
</ol>
<p >In this Privacy Notice, the following definitions are used:</p>
<p >Cookies</p>
<p >a small file placed on your device by our website or mobile application when you either visit or use certain features of our website or mobile application. A cookie generally allows a website to remember your actions or preference for a certain period of time.</p>
<p >Data</p>
<p >includes non-personal information, personal information and sensitive personal information about you, which either directly or indirectly in combination with other information, could allow you to be identified when you visit our stores, website and/or mobile application.</p>
<p >Data Protection Laws</p>
<p >any applicable law for the time being in force relating to the processing of Data.</p>
<p >Partners</p>
<p >select third parties (including Opiherbs Group Entities) with whom we have contracts for the businesses described in this Privacy Notice.</p>
<p >Service Providers</p>
<p >includes entities to whom we or other Opiherbs Group Entities will disclose your Data in order to process information for a specific purpose pursuant to written contract.</p>
<p >Opiherbs</p>
<p >Opiherbs Healthcare Solutions Private Limited , a company incorporated in India whose registered office is at Level 3, Vasant Square Mall, Pocket V, Sector B, Vasant Kunj New Delhi South Delhi DL 110070</p>
<p >Opiherbs Group Entity</p>
<p >Opiherbs Sons Private Limited, and its subsidiaries, affiliates, associate companies and joint venture companies with whom we have a contractual arrangement to, inter alia, share data for the purposes described in this Privacy Notice.</p>
<p >User or you</p>
<p >the natural person who accesses our stores, website or mobile application.</p>
<ol  start="2">
<h3><li >WHAT DATA DO WE COLLECT ABOUT YOU</li></h3>
</ol>
<p >Opiherbs collects Data for various purposes set out in this Privacy Notice.</p>
<p >This Data includes, without limitation, the following categories:</p>
<ol >
<li >Contact information:&nbsp;<span >first and last name, email address, postal address, country, employer, phone number and other similar contact data.</span></li>
<li >Financial information:&nbsp;<span >payment instrument information, transactions, transaction history, preferences, method, mode and manner of payment, spending pattern or trends, and other similar data.</span></li>
<li >Technical information:&nbsp;<span >website, device and mobile app usage, Internet Protocol (IP) address and similar information collected via automated means, such as cookies, pixels and similar technologies.</span></li>
<li >Transaction information:&nbsp;<span >the date of the transaction, total amount, transaction history and preferences and related details.</span></li>
<li ><span >Health related information, such as information or records relating to Your medical/ health history, health status, details of treatment plans and medication prescribed by a Medical Practitioner, dosage details such as frequency of dosage, alternative medication, medicines ordered by You through the Platform, laboratory testing results and any other information inferred there from</span></li>
<li >Product and service information:&nbsp;<span >Your account membership number, registration and payment information, and program-specific information, when you request products and/or services directly from us, or participate in marketing programs.</span></li>
<li >Personal information:&nbsp;<span >Age, sex, date of birth, marital status, nationality, details of government identification documents provided, occupation, ethnicity, religion, travel history or any other personal information provided in responses to surveys or questionnaires.</span></li>
<li ><span >Your reviews, feedback and opinions about our products, programmes and services.</span></li>
<li >Loyalty programme information:&nbsp;<span >your loyalty membership information, account details, profile or password details and any frequent flyer or travel partner programme affiliation.</span></li>
</ol><ol  start="3">
<h3><li >HOW WE COLLECT DATA</li></h3>
</ol>
<p >We collect Data in the following ways:</p>
<ol >
<li >Information You Give Us:&nbsp;<span >We receive and store any information you enter on our website or mobile application or give us in any other way (e.g., at outlets, stores, hotels, kiosks). Please see the section titled "Data Shared by You" for more information.</span></li>
<li >Automatic Information We Collect:&nbsp;<span >We use "cookies", pixels and similar technologies to receive and store certain types of information whenever you interact with us. Please see the section below, titled "Data that is Collected Automatically" for more information.</span></li>
<li >E-mail Communications:&nbsp;<span >To help us make e-mails more relevant and interesting, we often receive a confirmation (if your device supports such capabilities) when you open e-mail from us or click on a link in the e-mail. You can choose not to receive marketing emails from us by clicking on the unsubscribe link in any marketing email.</span></li>
<li >Automatic Information We Collect from Other Websites:&nbsp;<span >We receive and store certain types of information when you interact with third-party websites that use our technology or with whom we have a specific agreement. Because we process this information on behalf of the applicable website operators, collection, processing, and use of such information is subject to the applicable website operators&rsquo; privacy policies and is not covered by our Privacy Notice.</span></li>
<li >Information from Other Sources:&nbsp;<span >We may obtain information from other sources. An example of this is when you authorize a third-party website (such as the website of another Opiherbs Group Entity), to interact directly with our website or mobile application to provide or receive Data about you. In that case, we might receive such Data used by that third-party website to identify your account with that website.</span></li>
<li >Information Previously Provided to Opiherbs Group Entities:&nbsp;<span >Where you have shared any information previously with any of the Opiherbs Group Entities and have consented to the further sharing of such information, such information will be shared with us by the Opiherbs Group Entities.</span></li>
</ol>
<p >You can make choices about our collection and use of your Data. For example, you may want to access, edit or remove your Data on our website or mobile application. When you are asked to provide Data, you may decline.</p>
<ol  start="4">
<h3><li >DATA SHARED BY YOU</li></h3>
</ol>
<p >Opiherbs may collect your Data in several ways from your use of our stores, website or mobile application. For instance:</p>
<ol >
<li ><span >when you register with us to receive our products and/or services;</span></li>
<li ><span >when you conduct a transaction with us or attempt a transaction at our stores, on our website or mobile application;</span></li>
<li ><span >when you complete surveys conducted by or for us;</span></li>
<li ><span >when you elect to receive any communications (including promotional offers) from us;</span></li>
<li ><span >from the information gathered by your visit to our stores, website or mobile application;</span></li>
</ol><ol  start="5">
<h3><li >DATA THAT IS COLLECTED AUTOMATICALLY</li></h3>
</ol><ol >
<li ><span >We automatically collect some information when you visit our website or use our mobile application. This information helps us to make improvements to our content and navigation. The information collected automatically includes your IP address.</span></li>
<li ><span >Our web servers or affiliates who provide analytics and performance enhancement services collect IP addresses, operating system details, browsing details, device details and language settings. This information is aggregated to measure the number of visits, average time spent on the site, pages viewed and similar information. Opiherbs uses this information to measure the site usage, improve content and to ensure safety and security, as well as enhance performance of our website or mobile application.</span></li>
<li ><span >We may collect your Data automatically via Cookies, pixels and similar technologies in line with settings on your browser. For more information about Cookies, please see the section below, titled&nbsp;<span >"Cookies"</span>.</span></li>
</ol><ol  start="6">
<h3><li >OUR USE OF DATA</li></h3>
</ol>
<p >Any or all the above Data may be required by us from time to time to provide information relating to Opiherbs and to work on the experience when using our website or mobile application. Specifically, Data may be used by us for the following reasons:</p>
<ol >
<li ><span >carry out our obligations arising from any contract entered into between you and us;</span></li>
<li ><span >provide products and/or services and communicate with you about products and/or services offered by us;</span></li>
<li ><span >enable Opiherbs Group Entities and Partners to offer their products and/or services and communicate with you about such products and/or services;</span></li>
<li ><span >processing, disclosing, transmitting, and/or sharing the data/information with Opiherbs Group Entities, and other third parties which have business or contractual dealings with us;</span></li>
<li ><span >provide you with offers (including for financial products and/or services), personalized services and recommendations and improve your experience on our website and mobile application;</span></li>
<li ><span >operate, evaluate and improve our business, website and mobile application;</span></li>
<li ><span >generate aggregated data to prepare insights to enable us to understand customer behaviour, patterns and trends with a view to learning more about your preferences or other characteristics;</span></li>
<li ><span >provide privileges and benefits to you, marketing and promotional campaigns based on your profile;</span></li>
<li ><span >in connection with loyalty programs owned and operated by us or by other Opiherbs Group Entities;</span></li>
<li ><span >communicate with you (including to respond to your requests, questions, feedback, claims or disputes) and to customize and improve our services;</span></li>
<li ><span >to enhance your shopping experience and bring you access to membership programs, rewards and offers across Opiherbs brands.</span></li>
<li ><span >enforce the terms of use of our website and mobile application;</span></li>
<li ><span >protect against and prevent fraud, illegal activity, harm, financial loss and other legal or information security risks; and</span></li>
<li ><span >serve other purposes for which we provide specific notice at the time of collection, and as otherwise authorized or required by applicable law.</span></li>
</ol>
<p >We treat these inferences as personal information (or sensitive personal information, as the case may be), where required under applicable law. Some of the above grounds for processing will overlap and there may be several grounds which justify our use of your personal information.</p>
<p >Where required under applicable law, we will only use your personal information (including sensitive personal information) with your consent; as necessary to provide you with products and/or services; to comply with a legal obligation; or when there is a legitimate interest that necessitates the use.</p>
<ol  start="7">
<h3><li >MINORS</li></h3>
</ol>
<p >Our website and mobile application do not offer products or services for use by minors. If you are under 18, you may use our website or mobile application only with the involvement of a parent or guardian.</p>
<ol  start="8">
<h3><li >SHARING OF DATA</li></h3>
</ol>
<p >We may share your Data with/ for:</p>
<ol >
<li >Partners:&nbsp;<span >&nbsp;We may make available to you services, products, or applications provided by Partners for use on or through our website or mobile application. If you choose to use such service, customer information related to those transactions may be shared with such Partner.</span>
<p >Such Partners will be required to respect the security of your Data and to treat it in accordance with this privacy policy and applicable law.</p>
</li>
<li >Opiherbs Group Entities:&nbsp;<span >We may make available to you products, services and /or applications of Opiherbs Group Entities, to assist them to reach out to you in relation to their programs or campaigns and to process your queries and requests. Accordingly, we may share your Data with Opiherbs Group Entities. We may also share your Data with the Opiherbs Group Entities as is relevant for the purposes set out in Clause 6 above, and to facilitate the operation of our business.</span></li>
<li >Opiherbs Consumer Platform:&nbsp;<span >Your Data may be shared with Opiherbs Group Entities and other participating entities on the Opiherbs Consumer Platform operated by Opiherbs Digital Limited ("TCP") for purposes of enrolment, offering you products, services and benefits on the TCP. Accordingly, we may share your Data with other Opiherbs Group Entities, Partners and Service Providers and as a part of this unification your account information across several Opiherbs Companies may be merged, to offer You a single login for seamless experience.</span></li>
<li >Service Providers:&nbsp;<span >We or other Opiherbs Group Entities may share your Data with Service Providers. Examples include storing and analyzing Data, protecting and securing our systems, providing search results and links, providing customer service, credit analysis, processing your information for profiling, user analysis and payment processing.</span></li>
<li >Information from Other Sources:&nbsp;<span >We may obtain information from other sources. An example of this is when you authorize a third-party website (such as the website of another Opiherbs Group Entity), to interact directly with our website or mobile application to provide or receive Data about you. In that case, we might receive such Data used by that third-party website to identify your account with that website.</span>
<p >These Service Providers will be required to only process Data in accordance with express instructions and as necessary to perform services for purposes set forth in this Privacy Notice. The Service Providers will also be required to safeguard the security and confidentiality of the Data they process by implementing appropriate technical and organizational security measures and confidentiality obligations binding employees accessing Data.</p>
</li>
<li >Protecting Opiherbs:&nbsp;<span >We may release Data when we believe release is appropriate to comply with applicable law or legal process, enforce or apply the&nbsp;Terms of Use of our website or mobile application and other agreements, protect Opiherbs against harm or financial loss, when we believe disclosure is necessary to protect individuals&rsquo; vital interests, or in connection with an investigation of suspected or actual fraudulent or illegal activity. This may include exchanging information with other companies and organizations for fraud protection, risk management and dispute resolution. This does not include selling or otherwise disclosing personal information of users for commercial purposes in violation of this Privacy Notice.</span></li>
<li >Business Transfers:&nbsp;<span >As we continue to develop our business, we might sell or buy subsidiaries or business units. Your Data (including in relation to loyalty programs) may be transferred as part of such transaction. Any Data that we receive from a third party pursuant to such transactions will be processed in accordance with this Privacy Notice and applicable law.</span></li>
<li >Third Parties:&nbsp;<span >We may also share your Data with other third parties where:</span>
<ul >
<li >You request or authorize us to do so;</li>
<li >We need to comply with applicable law or respond to valid legal process; or</li>
<li >We need to operate and maintain the security of our website or mobile application, including to prevent or stop an attack on our computer systems or networks.</li>
</ul>
<p >We require these third parties by contract to only process sensitive personal data in accordance with our instructions and as necessary to perform services on our behalf or in compliance with applicable law. We also require them to safeguard the security and confidentiality of the sensitive personal data they process on our behalf by implementing appropriate confidentiality, technical and organizational security measures.</p>
</li>
</ol>
<p >Please note that Opiherbs Group Entities and Partners may have privacy practices that differ from those of Opiherbs. The use of your Data will be governed by their privacy statements when you provide Data on their websites.</p>
<ol  start="9">
<h3><li >KEEPING DATA SECURE</li></h3>
</ol>
<p >We will use technical and organisational measures to safeguard your Data and we store your Data on secure servers. Technical and organisational measures include measures to deal with any suspected data breach. If you suspect any misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us by e-mail at our email address provided at Clause 16 below.</p>
<ol  start="10">
    <h3><li >RETENTION OF DATA</li></h3>
</ol>
<p >Opiherbs retains Data for as long as necessary for the use of our products and/or services or to provide access to and use of our website or mobile application, or for other essential purposes such as complying with our legal obligations, resolving disputes, enforcing our agreements and as long as processing and retaining your Data is necessary and is permitted by applicable law. Because these needs can vary for different data types and purposes, actual retention periods can vary significantly.</p>
<p >Even if we delete your Data, including on account of exercise of your right under Clause 10 below, it may persist on backup or archival media for audit, legal, tax or regulatory purposes.</p>
<ol  start="11">
    <h3><li >YOUR RIGHTS AND CHOICES</li></h3>
</ol>
<p >When we process Data about you, we do so with your consent and/or as necessary to operate our business, meet our contractual and legal obligations, protect the security of our systems and our customers, or fulfil other legitimate interests of Opiherbs as described in this Privacy Notice.<br />You have the following rights in relation to your sensitive personal information and you can exercise it by submitting a request as described in the&nbsp;<span >"How to Contact Us"</span>&nbsp;section below.</p>
<ul >
<li >Right to Access, Review and Modify</li>
<li >Right to Correction</li>
<li >Right to Withdraw Consent</li>
</ul>
<p >It is important that the Data we hold about you is accurate and current. Please keep us informed if your personal information changes during the period for which we hold it.</p>
<ol  start="12">
<h3><li >WHERE WE STORE DATA</li></h3>
</ol>
<p >Data collected under this Privacy Notice is hosted on servers located in India.</p>
<ol  start="13">
<li >PROCESSING YOUR DATA</li>
</ol>
<p >We take steps to ensure that the Data we collect under this Privacy Notice is processed according to the provisions of this Privacy Notice and the requirements of applicable law.</p>
<p >To ensure that your Data receives an adequate level of protection, we have put in place appropriate written contracts with Opiherbs Group Entities, Partners and Service Providers that we share your Data with. This ensures your Data is treated by such parties in a way that is consistent with applicable law.</p>
<ol  start="14">
<h3><li >APP PERMISSIONS THAT WE CAPTURE</li></h3>
</ol>
<p >We ask for the following app permissions while onboarding, in order to optimize the experience for you:</p>
<p >Location</p>
<p >It is recommended that you set your location sharing 'Always' as it helps us to show you location specific data like availability of products. You can change this anytime.</p>
<p >Camera</p>
<p >To allow you to take a photo of prescriptions &amp; directly upload it to the app.</p>
<p >Photos/Media/Files</p>
<p >Media access permission is needed to store and retrieve your uploads such as prescription uploads on your device.</p>
<p >SMS</p>
<p >To support automatic OTP confirmation, so that you don't have to enter the authentication code manually.</p>
<p >Receive SMS</p>
<p >This helps us to send you payment related SMS by our payment partner JustPay.</p>
<p >Access Wifi State</p>
<p >This helps us to optimize your experience based on the Wifi&rsquo;s strength and signals, especially for optimizing video consultations.</p>
<p >Record Audio</p>
<p >To enable video consultations with doctors.</p>
<p >Bluetooth</p>
<p >Bluetooth is used to redirect to bluetooth headset during video consultations.</p>
<ol  start="15">
<h3><li >SEVERABILITY</li></h3>
</ol>
<p >If any court or competent authority finds that any provision of this Privacy Notice (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of this Privacy Notice will not be affected.</p>
<ol  start="16">
<h3><li >CHANGES TO THIS PRIVACY NOTICE</li></h3>
</ol>
<p >Our business changes constantly and our Privacy Notice may also change . We may e-mail periodic reminders of our notices and conditions, unless you have instructed us not to, but you should check our website and mobile application frequently to see recent changes. The updated version will be effective as soon as it is accessible. Any changes will be immediately posted on our website and mobile application and you are deemed to have accepted the terms of the updated Privacy Notice on your first use of our website or mobile application or first purchase of the products and/or services following the alterations. We encourage you to review this Privacy Notice frequently to be informed of how we are protecting your information.</p>
    </body>
</html>