<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <!-- <link rel="stylesheet" href="project_final.css"> -->
    <!-- <script type="text/javascript" src="project_final.js"></script> -->
    <style>
        .navbar {

            background-color: rgb(41, 41, 41);
            position: relative;
            /* border-radius: 40px; */

        }

        .navbar::before {
            content: '';
            background-color: white;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.4;
        }

        .navbar ul {
            margin: 1px;
            overflow: auto;
        }

        .navbar li {
            float: left;
            list-style: none;
            margin: 20px 20px;
        }

        .navbar li a {
            padding: 3px 3px;
            color: white;
            list-style: none;
            text-decoration: none;
        }


        #logo {
            /* padding: 10px; */
            width: 135px;
            float: right;


        }

        .navbar ul li a {

            display: block;
            /* padding: 3px 22px; */
            border-radius: 20px;

        }

        body {
            background: linear-gradient(to right,
                    #e5f4f9 0%,
                    #e5f4f9 70%,
                    #8dc6d9 50%,
                    #8dc6d9 100%);
        }

        .grid-container {

            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 540px 50px;

            margin-left: 200px;
            margin-right: 200px;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;

        }

        .grid-item {
            color: #003233;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 23px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0px;
            padding-bottom: 0px;

        }

        .grid-item k {
            color: #6d597a;
            font-weight: 500;
        }

        body {
            background-color: #1F2039;
        }

        section {
            padding: 80px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: 300px 300px;
            gap: 15px;
        }

        .grid img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .box-image {
            position: relative;
        }

        .box-hover {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
        }

        .box-image:hover .box-hover {
            display: flex;
        }

        @media screen and (max-width: 996px) {

            .grid img,
            .box-hover {
                min-height: 300px;
                max-height: 300px;
            }

            .gallery {
                padding: 20px;
            }
        }
    </style>

    <title>Med</title>
</head>

<body>


    <header>
        <nav class="navbar">

            <ul>
                <li><img src="/ffsdprojectopiherb.jpg" alt="opiherb" id="logo">
                </li>
                <li></li>
                <li></li>
                <li></li>

                <li><a href="/login_signup2">Login</a></li>
                <li><a href="/login_signup2">Sign Up</a></li>
                <li><a href="after-login">Introduction</a></li>
                <li><a href="doctor_project_final">Doctors</a></li>
                <li><a href="project_final">Medicines</a></li>
                <!-- <li><a href="">Emergency</a></li> -->
                <li><a href="fsd">First Aid/Emergency</a></li>
                <li><a href="index">Premium</a></li>
                <li><a href="offers">Offers</a></li>
                <!-- <li><button type="button" class="btn btn-info" id="logo">Sign in/Sign up</button></li> -->

            </ul>
        </nav>
    </header>

    <div class="grid-container">
        <div class="grid-item"><img
                src="https://images.pexels.com/photos/3683041/pexels-photo-3683041.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                height="490px"></div>
        <div class="grid-item ">
            <p>
                <k>Genuine medicines</k> <br> All medicines and health products are sourced from Opi herbs trusted
                network of verified pharmacies and medical stores.<br>
                <k>Know your medicine </k><br> Exhaustive information about medicines written by verified medical
                experts.<br>
                <k>Delivering in 100+ cities in India </k><br> From Amritsar to Port blair we deliver medicines and
                health products all over India.<br>
                <k>Reliable on time home delivery </k><br>Our in-house pharmacists ensure your medicines reach you when
                you need them.<br>Your trust is all we need !
            </p>
        </div>

    </div>

    <section class="gallery">
        <div class="grid">
            <a class="box-image" href="https://silkroad007.github.io/Robbie-Lens/element-1.png">
                <img src="https://silkroad007.github.io/Robbie-Lens/element-1.png" alt="">
                <div class="box-hover">voir photo</div>
            </a>
            <a class="box-image" href="https://silkroad007.github.io/Robbie-Lens/element-2.png">
                <img src="https://silkroad007.github.io/Robbie-Lens/element-2.png" alt="">
                <div class="box-hover">voir photo</div>
            </a>
            <a class="box-image" href="https://silkroad007.github.io/Robbie-Lens/element-3.png">
                <img src="https://silkroad007.github.io/Robbie-Lens/element-3.png" alt="">
                <div class="box-hover">voir photo</div>
            </a>
            <a class="box-image" href="https://silkroad007.github.io/Robbie-Lens/element-4.png">
                <img src="https://silkroad007.github.io/Robbie-Lens/element-4.png" alt="">
                <div class="box-hover">voir photo</div>
            </a>
            <a class="box-image" href="https://silkroad007.github.io/Robbie-Lens/element-5.png">
                <img src="https://silkroad007.github.io/Robbie-Lens/element-5.png" alt="">
                <div class="box-hover">voir photo</div>
            </a>
            <a class="box-image" href="https://silkroad007.github.io/Robbie-Lens/element-6.png">
                <img src="https://silkroad007.github.io/Robbie-Lens/element-6.png" alt="">
                <div class="box-hover">voir photo</div>
            </a>
        </div>
    </section>